%h1 All Providers
%br
%h3 Please Select a Provider
%ul.collection
  - @providers.each do |provider|
    %li.collection-item.avatar
      %i.material-icons.circle directions_car
      %span.title
        = provider.first_name
        = provider.last_name
      %p
        = provider.phone
      %p
        = link_to 'View Profile', provider_path(provider)
