
%div.center.margindash 
  = image_tag "TowSmith_trans.png"
%br
%div.center.margindash 
  = link_to 'Get Started', requests_path, class: "btn waves-effect waves-light"
%div.center.dashboardbox.z-depth-3.margindash 
  %h5 What is TowSmith?!
  %p TowSmith is a service for individuals looking for a towing or car locksmith service in one place. It’s mobile connivence brings you peace of mind in stressful situation.