.container
  .row
    .col.s12.m5.offset-m1
      %br/
      %br/
      %div
        %h3 Our Story
        %p Team Towsmith is comprised of Arialle Dye, Rey Holmgren, Natasha Mays, and Scott Ball. They came together with a singular goal in mind: simplify and streamline the horrifyingly obnoxious process of finding a locksmith or a tow truck. It seemed insane that in 2016 it was still so hard to find reliable professionals when those inevitable car troubles pop up, so these brave heroes decided to step up and create a simple and elegant solution once and for all. 
        %br/
        %br/

        %p That solution...is Towsmith.
    .col.s12.m5.aboutline
      %h3 Who Are We?
      .col.s12.m6
        %div.card.faces
          %div.card-image.waves-effect.waves-block.waves-light
            = image_tag 'arialle.jpg', class: 'activator'
          %div.card-content
            %span.card-title.activator.grey-text.text-darken-4
          %div.card-reveal
            %span.card-title.grey-text.text-darken-4
              %i.material-icons.right close
            %br
            %p.center Arialle Dye
            %p.center Arialle is a designer of clothing, accessories and more. Is she a mermaid? Is she a human? No one knows.
            .footer-icons.center
              %a{:href => "mailto:arialle.gotogirl@gmail.com"}
                %i.fa.fa-envelope
              %a{:href => "https://twitter.com/goforarialle", :target => "_blank"}
                %i.fa.fa-twitter
              %a{:href => "https://www.linkedin.com/in/ariallenichole", :target => "_blank"}
                %i.fa.fa-linkedin
              %a{:href => "https://github.com/ariallenichole", :target => "_blank"}
                %i.fa.fa-github  


      .col.s12.m6
        %div.card.faces
          %div.card-image.waves-effect.waves-block.waves-light
            = image_tag 'natasha.jpg', class: 'activator'
          %div.card-content
            %span.card-title.activator.grey-text.text-darken-4
          %div.card-reveal
            %span.card-title.grey-text.text-darken-4
              %i.material-icons.right close
            %br
            %p.center Natasha Mays
            %p.center Natasha loves anything tech and can lose days of her life to anime.
            .footer-icons.center
              %a{:href => "mailto:tash.mays@gmail.com"}
                %i.fa.fa-envelope
              %a{:href => "https://www.linkedin.com/in/natashamays", :target => "_blank"}
                %i.fa.fa-linkedin
              %a{:href => "https://github.com/tashmays", :target => "_blank"}
                %i.fa.fa-github  


      .col.s12.m6
        %div.card.faces
          %div.card-image.waves-effect.waves-block.waves-light
            = image_tag 'scott.jpg', class: 'activator'
          %div.card-content
            %span.card-title.activator.grey-text.text-darken-4
          %div.card-reveal
            %span.card-title.grey-text.text-darken-4
              %i.material-icons.right close
            %br
            %p.center Scott Ball
            .footer-icons.center
              %a{:href => "mailto:scottballofficial@gmail.com"}
                %i.fa.fa-envelope
              %a{:href => "https://www.linkedin.com/in/ballscott", :target => "_blank"}
                %i.fa.fa-linkedin
              %a{:href => "https://github.com/scotttball", :target => "_blank"}
                %i.fa.fa-github             


      .col.s12.m6
        %div.card.faces
          %div.card-image.waves-effect.waves-block.waves-light
            = image_tag 'rey.jpg', class: 'activator'
          %div.card-content
            %span.card-title.activator.grey-text.text-darken-4
          %div.card-reveal
            %span.card-title.grey-text.text-darken-4
              %i.material-icons.right close
            %br
            %p.center Rey Holmgren
            %p.center Rey graduated from the University of Utah with a degree in psychology and marketing. She's also probably Spider-Woman. Like, probably.
            .footer-icons.center
              %a{:href => "mailto:Rey.holmgren@gmail.com"}
                %i.fa.fa-envelope            
              %a{:href => "https://twitter.com/EmeraldAvenger", :target => "_blank"}
                %i.fa.fa-twitter
              %a{:href => "https://www.linkedin.com/in/reyholmgren", :target => "_blank"}
                %i.fa.fa-linkedin
              %a{:href => "https://github.com/reyholmgren", :target => "_blank"}
                %i.fa.fa-github    

