%div.container
%div.row
  %div.col.s12.m10.offset-m1
    %h2 Your Requests
    - if @requests.any?
      %div.collection
        - @requests.each do |request|
          %a.collection-item
            = link_to request.title, request_path(request)
            = request.created_at
    - else
      %div.collection
        %div.collection-item
          No Request(s) Found
