%div.container
%div.row
  %div.col.s12.m10.offset-m1
    %h2 Your Requests
    - if @requests.any?
      %div.collection
        - @requests.each do |request|
          %dic.collection-item
            = link_to request.title, request_path(request)
            = request.created_at
    - else
    %br
      No Request(s) Found
    %br
      = link_to 'New Request', new_request_path, class: "btn waves-effect waves-light"
