%div.container
%div.row
  %div.col.s12.m10.offset-m1
    %h2 Your Requests
  - if @customer_requests.any?
    %table
      %thead
        %tr
          %th Title
          %th Description
          %th Customer's Name
          %th Customer's Phone
      %tbody
        - if @customer_requests.any?
          %div.collection
            - @customer_requests.each do |request|
              %a.collection-item
              %tr
                %td
                  = link_to request.title, request_path(request)
                %td
                  = request.info
                %td
                %td
  - else
    %div.collection
      %div.collection-item
        No Request(s) Found
