%h1 Requests#show
%p Find me in app/views/requests/show.html.haml
%h4
  = @request.title
%p
  = @request.info
%p
  = @request.phone
%br
= button_to 'Delete this request?', @request, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn waves-effect waves-light' if logged_in?(:user)