/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("teal", "base") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("blue", "darken-3") !default;
@import 'materialize';
h1, h2 {
  color: #6c6d6d;
}
a {
  color: #009688;
}
textarea {
  padding-left: 3px;
}
nav ul a {
  color: #ffffff;
}

.faces {
  height: 220px;
  width: 220px;
}

/*Request Stuff*/
.requestshow {
  background-color: teal;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}


/*Quote Stuff*/
.quotepad {
  margin-top: 100px;
}

/*About Us*/
.aboutline {
  border-left: 5px solid #616262; 
  margin-top: 40px;
  padding-left: 50px;
}

/*DevPoint Shout Out*/
.devpoint {
  height: 50px; 
  width: 300px; 
  margin-top: 15px;
}

.site {
  display: table;
  height: 100%;
  width: 100%;
}
.container {
  width: 100% !important;
}
.divider {
  height: 2px;
  overflow: hidden;
  background-color: #000000;
}
/* nav */
nav {
  height: 83px;
  line-height: 75px;
  background-color: rgba(0, 150, 136, .58);
}


.nav-wrapper {
  top: 0 !important;
  position: fixed;
  height: 64px;
}

/* Get Started Button */
.getstarted {
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: #1565c0;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgba(21, 101, 192, 0.5), 0 2px 10px 0 rgba(21, 101, 192, 0.5);
}
.getstarted:hover {
  background-color: rgba(21, 101, 192, 0.75);
  box-shadow: 0 2px 5px 0 rgba(21, 101, 192, 0.5), 0 2px 10px 0 rgba(21, 101, 192, 0.5);
}
/* Logo */
.logotow {
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
  width: 200px;
}

/*Footer*/
.shorten {
  padding: 30px 50px 30px 50px;
}

.footerlogotow {
  height: 50px;
}

.dashboardbox {
  background: #009688;
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  color: #ffffff;
}