.alert {
    color: #b94a48;
    text-align: center !important;
 }

.notice {
    color: #468847;
    text-align: center !important;
 }

.dashboardbox {
  border-radius: 25px;
  background: #80cbc4;
  padding: 20px;
  margin-top: 50px; 
}

.margindash {
  margin-top: 8%;
}