%footer.footer-distributed
  .footer-left
    %a{href: "http://www.devpointlabs.com/", target: "_blank"}
      %img{src: "http://www.devpointlabs.com/img/DPL-navbar-purple.gif", style: "height: 50px; width: 300px; margin-top: 15px;"}
    %p.grey-text.text-lighten-4{style: 'padding-top: 0;'}
      Thank you to 
      %a.footer-link{href: "http://www.devpointlabs.com/", target: "blank", style: "color: #B1AB6F;"}DevPoint Labs
      %br
      for all of the support and guidance!
    %p.footer-company-name © 2016 TowSmith
  .footer-center
  .footer-right
    %a{href: "/"}
      %img.footerlogotow.brand-logo{:alt => "TowSmith", :src => "/assets/TowSmith.png"}
    %p.footer-company-about
      %span About the company
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    .footer-icons
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-linkedin
      %a{:href => "#"}
        %i.fa.fa-github