%footer.footer-distributed.shorten
  .footer-left
    %h5.white-text
      Thank you
      %br
      %a{href: "http://www.devpointlabs.com/", target: "_blank"}
        %img.devpoint{src: "http://www.devpointlabs.com/img/DPL-navbar-purple.gif"}
      %br
      %br
      for all of the support and guidance!
    %p.footer-company-name © 2016 TowSmith
  .footer-center
  .footer-right
    %a{href: "/"}
      =image_tag("TowSmith.png", class: "footerlogotow brand-logo", alt: "TowSmith")
    %p.footer-company-about
      %span About TowSmith
      TowSmith is a service for individuals looking for a towing or car locksmith service in one place. Its mobile convenience brings you peace of mind in a stressful situation.
      %br
      %a{:href => "/about"} Meet the team
    .footer-icons
      %a{:href => "mailto:towsmithapp@gmail.com"}
        %i.fa.fa-envelope
      %a{:href => "https://twitter.com/towsmithapp"}
        %i.fa.fa-twitter
      %a{:href => "https://github.com/Reyholmgren/towsmith"}
        %i.fa.fa-github